*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 8px solid;
    height: 500px;
    width: 600px;
    margin-left: 10px;
    border-radius: 50px;
}
h1{
    border: 4px double blue;
    display: inline-block;
    padding: 10px;   

}